<link rel="stylesheet" href="stylesheets/about.css">
<%- include('header')%>

<%- include('nav')%>
<div class="about">
    <h1>About-BookShop</h1>
    <p>Bookshop.org works to connect readers with independent booksellers all over the <br>
        ‍We believe local bookstores are essential community hubs that foster culture, <br>curiosity, and a love of reading, and we're committed to helping them thrive.</p>
</div>

<%- include('footer')%>
