*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Academic M54";
    overflow: hidden;
    

}
.show {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1696550579939-6d5134d4bfc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHx8fA%3D%3D&dpr=1&auto=format%2Ccompress&fit=crop&w=1399&h=594);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.show h1 {
    font-size: 120px;
    color: #16131a;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:12%;
    bottom:40% ;
   
}
.show p{
    font-size: 30px;
    color: #0d0c0e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:11%;
    bottom:27% ;
}
.show .show-box {
    width: 500px;
    height: 550px;
    background-color:#F2D4B4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
}
.show-box h2{
    width: 300px;
    height: 200px;
    background-color: #423a32c4;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.show-box a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding:10px 20px;
    margin-top: 10px;
    color: rgb(44, 9, 9);

} 