*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: aqua;
}
/* Styles for the main container */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Styles for the form container */
.card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the heading */
.heading {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for input fields and labels */
.card label {
    margin-bottom: 5px;
}

.card input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styles for the "Change" link */
.card a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
}

.card a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
